* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background-image: url(wo.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Lato', sans-serif;
    color: white;
    text-align: center;
}


  h1 {
    margin-top: 6%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3rem;
  }
  
  .circles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .circle {
    width: 75px;
    height: 75px;
    background-color: grey;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    pointer-events: none;
  }
  
  .circle.active {
    background-color: tomato;
    background-image: url("wo.jpg");
    background-size: cover;
  }
  #overlay {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.modal {
  background-color:green;
  padding: 2rem;
  width: 40%;
  height: 25%;
  border-radius: 10px;
  position: relative;
}

.modal button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
}

#result {
  font-size: 1.5rem;
}

#stop {
  display: none;
}
