@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  font-family: 'Open Sans', sans-serif;
  margin: 5rem;
  text-align: center;
  color: white;
}

 text{
  padding: 0.5rem;
  margin-bottom: 2rem;
  font-size: inherit;
  font-family: inherit;
}
.pokemon-cards{
  max-width: 1200px;
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  color: darkcyan;
  font-variant-caps: all-petite-caps;
  font-size: large;
}

p {
  color: #333;
}

.pokedex-card {
  max-width: 1200px;
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  color: darkcyan;
  font-variant-caps: all-petite-caps;
  font-size: large;
}

.pokedex div {
  background-color: rgb(255, 255, 255);
}

.pokedex img {
  width: 100%;
  object-fit: cover;
  height: 200px;
  padding: 1rem;
}

@media (max-width: 1000px) {
  .pokedex {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 700px) {
  .pokedex {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 500px) {
  .pokedex {
    grid-template-columns: repeat(1, 1fr);
  }
}
.pokemon-card {
  background-color: rgba(245, 245, 220, 0.82);
  padding: 12px;
  border-radius: 5px;
}

img {
  height: 120px;
  width: 120px;
}

.pokemon-card:hover {
  background-color: lightgreen;
}